* {
      /* box-sizing: border-box; */
      margin: 0;
      padding: 0;
    }

body {
      font-family: 'Apercu Pro Regular', 'Poppins', sans-serif;
      height: 100vh;
      background: #000000;
      color: #fff;
      padding: 1.875rem;
    }
@font-face {
    font-family: 'Apercu Pro Regular';
    src: url('./apercu-pro/apercu_regular_pro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}